@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto+Slab:wght@500;700&display=swap');
@mixin font {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

.mainConteiner {
	height: 100vh;
	display: flex;	
	justify-content: center;
	align-items: center;
	flex-flow: row nowrap;
}
.keyControl {
	display: grid;
	grid-template-columns: repeat(3, 70px);
	grid-template-rows: repeat(3, 70px);

}
.key {
	display: grid;
	border: 3px solid grey;
	background-color: aquamarine;
	@include font();
	align-items: center;

	b {
		font-size: 30px;
	}
}

.playingField {
	margin-left: 150px;
	border: 5px solid grey;
}

.highlight {
	background-color: rgb(40, 153, 115);
}